
COMMON_CLASSES += $(BROWSSEC_JAR)

all:

JINSIGHTDIR =/afs/eda/u/zarnick/jinsightlive
        
jinlaunch:	
	CLASSPATH=$(JINSIGHTDIR)/jinsight.jar:$(classpath):$(USE_COMMON_CLASSES); \
        export CLASSPATH; \
        LD_LIBRARY_PATH=$(JINSIGHTDIR):$(TOP)/ScraperCode:$(LD_LIBRARY_PATH); \
        export LD_LIBRARY_PATH; \
	$(JAVA2) -Djava.compiler=NONE -XrunjinsightPA oem.edge.ed.odc.meeting.client.MeetingViewer $${DSMPHOST:-decathlon.fishkill.ibm.com} $${DSMPPORT:-5000}

launch:	
	CLASSPATH=$(classpath):$(USE_COMMON_CLASSES):$(REALTOP)/source; \
        export CLASSPATH; \
        PATH=$(PATH):$(TOP)/lib/oem/edge/ed/odc; \
        export PATH; \
        LD_LIBRARY_PATH=$(TOP)/lib/oem/edge/ed/odc:$(LD_LIBRARY_PATH); \
        export LD_LIBRARY_PATH; \
	$(JAVA) $(CLIENTPARMS) oem.edge.ed.odc.meeting.client.MeetingViewer $${DSMPHOST:-decathlon.fishkill.ibm.com} $${DSMPPORT:-5000} $${DSMPDISP:-":0"}
