define INCLUDE_JAR_RULES
yes
endef
#
# Set this such that no source is found
#
VPATH = $(CURDIRBUILD)
        
        
JARSTOBUILD     = $(J1_JARTOBUILD) \
                  $(J2_JARTOBUILD) \
                  $(J3_JARTOBUILD) \
                  $(J4_JARTOBUILD) \
                  $(J5_JARTOBUILD) \
                  $(J6_JARTOBUILD) \
                  $(J7_JARTOBUILD) \
                  $(J8_JARTOBUILD) \
                  $(J9_JARTOBUILD) 
                  
GENERATED_FILES = $(JARSTOBUILD)

#-------------------------------------------------------------------------
#       EDODCTunnelClient.jar
#-------------------------------------------------------------------------


J1_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCTunnelClient.jar

j1filter = %/HttpTunnelThing.java %/testapp.java %/Debug4j.java \
           %/FTPClient.java
c1filter = %/HttpTunnelThing.class %/testapp.class %/Debug4j.class \
           %/FTPClient.class

J1_JARDEPJAVAFILES = \
      $(filter-out $(j1filter),  \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/tunnel/common/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/tunnel/applet/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/applet/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/util/Timeout*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/sd/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/util/Base64*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/util/*.java) \
          $(TOP)/source/oem/edge/common/cipher/ODCrc.java \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/common/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/common/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/common/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/client/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/client/*.java) \
          $(wildcard $(TOP)/source/com/ibm/as400/webaccess/common/*.java))
          
              
J1_JARDEP_INSERT_CLASSFILES = \
      $(filter-out $(c1filter),  \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/tunnel/common/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/tunnel/applet/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/*.class) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/applet/*.GIF)   \
          $(wildcard $(TOP)/build/oem/edge/ed/sd/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/util/*.class) \
          $(TOP)/build/oem/edge/common/cipher/ODCrc.class \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/common/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dropbox/common/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/client/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/common/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/client/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dropbox/client/*.class) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/client/*.gif) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/client/*.gif) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.gif) \
          $(wildcard $(TOP)/build/com/ibm/as400/webaccess/common/*.class) \
          $(TOP)/build/EDesignKeyring.class)

J1_JARDEPJARFILES  = $(HTTPS_JAR) $(BROWSSEC_JAR)
J1_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J1_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

        
#-------------------------------------------------------------------------
#       EDODCTunnelApplet.jar
#-------------------------------------------------------------------------


J2_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCTunnelApplet.jar

J2_JARDEPJAVAFILES = \
        $(TOP)/source/oem/edge/ed/odc/applet/InstallAndLaunchApp.java \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/applet/ConfigMgr*.java) \
        $(TOP)/source/oem/edge/ed/odc/applet/ProgressBar.java \
        $(TOP)/source/oem/edge/ed/odc/applet/PipeReader.java \
        $(TOP)/source/oem/edge/ed/odc/applet/ODCrc.java \
        $(TOP)/source/oem/edge/ed/odc/applet/ConfigObject.java \
        $(TOP)/source/oem/edge/ed/odc/applet/ConfigFile.java \
        $(TOP)/source/oem/edge/ed/odc/applet/ConfigSection.java \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/applet/MultiPipe*.java) 
        
J2_JARDEP_INSERT_CLASSFILES = \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/InstallAnd*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/ConfigMgr*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/ConfigObject*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/ConfigFile*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/ConfigSection*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/ODCrc*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/ProgressBar*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/PipeReader*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/applet/MultiPipe*.class) 

J2_JARDEPJARFILES  = $(BROWSSEC_JAR)
J2_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J2_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

#-------------------------------------------------------------------------
#       EDODCDSMPServer.jar
#-------------------------------------------------------------------------

J3_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCDSMPServer.jar

J3_JARDEPJAVAFILES = \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/server/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/common/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/meeting/server/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/meeting/common/*.java)
        
J3_JARDEP_INSERT_CLASSFILES = \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/common/*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/server/*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/meeting/server/*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/meeting/common/*.class)

J3_JARDEPJARFILES  = 
J3_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J3_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

#-------------------------------------------------------------------------
#       DSMP.jar
#-------------------------------------------------------------------------

J4_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/DSMP.jar

J4_JARDEPJAVAFILES = \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.java)    \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/common/*.java)    \
        $(wildcard $(TOP)/source/oem/edge/ed/util/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/meeting/client/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/meeting/common/*.java)
        
J4_JARDEP_INSERT_CLASSFILES = \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/meeting/client/*.gif)  \
          $(wildcard $(TOP)/build/oem/edge/ed/util/*.class) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.gif) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/client/*.class)    \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/common/*.class)    \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/meeting/client/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/meeting/common/*.class)

J4_JARDEPJARFILES  = 
J4_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J4_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

          
              
#-------------------------------------------------------------------------
#       EDODCFTPClient.jar
#-------------------------------------------------------------------------

J5_JARTOBUILD  = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCFTPClient.jar
          
j5filter = %/FTPClient.java
c5filter = %/FTPClient.class

J5_JARDEPJAVAFILES = \
      $(filter-out $(j5filter),  \
         $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.java) \
         $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/common/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/client/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/common/*.java))
          
              
J5_JARDEP_INSERT_CLASSFILES = \
      $(filter-out $(c5filter),  \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/client/*.gif)    \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.gif) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/client/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/common/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/client/*.class)   \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/common/*.class))

J5_JARDEPJARFILES  = 
J5_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J5_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

#-------------------------------------------------------------------------
#       EDODCFTPServer.jar
#-------------------------------------------------------------------------

J6_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCFTPServer.jar

J6_JARDEPJAVAFILES = \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/server/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/common/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/server/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/common/*.java)
        
J6_JARDEP_INSERT_CLASSFILES = \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/server/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/common/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/server/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odcftp/common/*.class)

J6_JARDEPJARFILES  = 
J6_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J6_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

              
#-------------------------------------------------------------------------
#       EDODCXChannel.jar
#-------------------------------------------------------------------------

J7_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCXChannel.jar

j7filter = 
c7filter = 

J7_JARDEPJAVAFILES = \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/tunnel/common/*.java) \
        $(TOP)/source/oem/edge/ed/sd/ProgressBar.java                  \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/xchannel/*.java)
        
J7_JARDEP_INSERT_CLASSFILES = \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/tunnel/common/*.class) \
        $(wildcard $(TOP)/build/oem/edge/ed/sd/ProgressBar*.class)     \
        $(wildcard $(TOP)/build/oem/edge/ed/odc/xchannel/*.class       \
        $(TOP)/build/EDesignKeyring.class)

J1_JARDEPJARFILES  = $(HTTPS_JAR)
J7_JARINJECTCODE   = echo
J7_EXTRAINJECT     = 

#-------------------------------------------------------------------------
#       EDODCDropboxClient.jar
#-------------------------------------------------------------------------

J8_JARTOBUILD  = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCDropboxClient.jar
          
j8filter = %/TestDrop.java
c8filter = %/TestDrop.class

J8_JARDEPJAVAFILES = \
      $(filter-out $(j8filter),  \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.java)    \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/common/*.java)    \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/client/*.java)     \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/common/*.java)     \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/client/*.java) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/common/*.java))
          
              
J8_JARDEP_INSERT_CLASSFILES = \
      $(filter-out $(c8filter),  \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/client/*.gif)      \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/client/*.gif) \
          $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/client/*.gif)  \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/client/*.class)   \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/common/*.class)   \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/client/*.class)     \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/common/*.class)     \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dropbox/client/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dropbox/common/*.class))

J8_JARDEPJARFILES  = 
J8_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J8_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

#-------------------------------------------------------------------------
#       EDODCDropboxServer.jar
#-------------------------------------------------------------------------

J9_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/EDODCDropboxServer.jar

J9_JARDEPJAVAFILES = \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/server/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dsmp/common/*.java)    \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/server/*.java)     \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/ftp/common/*.java)     \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/server/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/dropbox/common/*.java) \
        $(wildcard $(TOP)/source/oem/edge/ed/util/*.java)               \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/util/*.java)           \
        $(wildcard $(TOP)/source/oem/edge/ed/sd/ordproc/Mailer.java)    \
        $(wildcard $(TOP)/source/oem/edge/ed/odc/tunnel/common/*.java)  \
        $(wildcard $(TOP)/source/oem/edge/common/cipher/*.java)         \
        $(wildcard $(TOP)/source/oem/edge/common/RSA/*.java)            \
        $(wildcard $(TOP)/source/com/ibm/as400/webaccess/common/*.java)
        
J9_JARDEP_INSERT_CLASSFILES = \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/server/*.class)    \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dsmp/common/*.class)    \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/server/*.class)     \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/ftp/common/*.class)     \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dropbox/server/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/dropbox/common/*.class) \
          $(wildcard $(TOP)/build/oem/edge/ed/util/*.class)               \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/util/*.class)           \
          $(wildcard $(TOP)/source/oem/edge/ed/sd/ordproc/Mailer.class)    \
          $(wildcard $(TOP)/build/oem/edge/ed/odc/tunnel/common/*.class)  \
          $(wildcard $(TOP)/build/oem/edge/common/cipher/*.class)         \
          $(wildcard $(TOP)/build/oem/edge/common/RSA/*.class)            \
          $(wildcard $(TOP)/build/com/ibm/as400/webaccess/common/*.class)

J9_JARDEPJARFILES  = 
J9_JARINJECTCODE   = $(GENERATEABOUTTIME) ; $(BUILDABOUTTIME)
J9_EXTRAINJECT     = $(ABOUTTIMEDIR)/AboutTime.class 

#-------------------------------------------------------------------------
#  OLD     STMProxy.jar
#-------------------------------------------------------------------------
#
#J7_JARTOBUILD = $(REALTOP)/build/oem/edge/ed/odc/jars/STMProxy.jar
#
#j7filter = %/PasswordMain.java
#c7filter = %/PasswordMain.class
#
#J7_JARDEPJAVAFILES = \
#      $(filter-out $(j7filter),  \
#        $(wildcard $(TOP)/source/oem/edge/ed/odc/stm/*.java) \
#        $(wildcard $(TOP)/source/oem/edge/ed/util/*.java))
#        
#J7_JARDEP_INSERT_CLASSFILES = \
#      $(filter-out $(c7filter),  \
#        $(wildcard $(TOP)/build/oem/edge/ed/odc/stm/*.class) \
#        $(wildcard $(TOP)/build/oem/edge/ed/util/*.class))
#
#J7_JARDEPJARFILES  = 
#J7_JARINJECTCODE   = echo
#J7_EXTRAINJECT     = 
