#classpath = $(HTTPS_JAR):$(TOP)/servlet/oem/edge/ed/odc/tunnel/common:jars/JICAEngN.jar
COMMON_CLASSES += $(HTTPS_JAR):$(JICAENGN_JAR):$(BROWSSEC_JAR)

LPARMS = -ch_tunnelcommand ODC -debug 25 -url https://www-3.ibm.com

all:

launchhttp:
	CLASSPATH=$(USE_COMMON_CLASSES):$(classpath):$(FORCE_TOPLEVEL_CLASSES); \
	export CLASSPATH; \
	java oem.edge.ed.odc.tunnel.applet.HttpTunnelClient $(LPARMS)
        
        
launch:
	CLASSPATH=$(USE_COMMON_CLASSES):$(classpath):$(FORCE_TOPLEVEL_CLASSES); \
	export CLASSPATH; \
	java  oem.edge.ed.odc.tunnel.applet.GetToken joecrichton q1w2e3r4t5y 2
