#
# JMC 8/24
#
# Its REALLY important that applet go 2nd AFTER tunnel. We compile that with
# a target of 1.1, so that there are no issues with NS4 and IE w/o plugin.
# Don't want them to be compiled with any side effect refs
#
# Tunnel goes first, but only compiles PipeReader in Applet dir with 1.2 spec.
#  Not bad.
#
ODCDIRS      = tunnel applet cntl view model util meeting dsmp \
               ftp stm gui dropbox webdropbox remoteviewer xchannel
DIRECTORIES = $(ODCDIRS) 

CMJARDIRS  = 
ODCJARDIRS = jars

COMMON_CLASSES += $(DB2_JAR):$(CMUJC_JAR):$(CMEJS_JAR):$(REGEX_JAR):$(LOG4J_JAR)

#
# As above, have ALL of ODC be built with 1.1. Also, use 1.3 compiler 
#  (as of 8/04)
#
JAVAFLAGS = -target 1.1
JAVAC_TOUSE = $(JAVACCOMPAT)
JAVA_TOUSE  = $(JAVACOMPAT)

