DIRECTORIES = 

COMMON_CLASSES += $(LOG4J_JAR):$(ANT_JAR)

all:

launch:	
	export CLASSPATH=$(classpath):$(USE_COMMON_CLASSES):$$CLASSPATH:$(REALTOP)/properties/oem/edge/ed/odc; \
	$(JAVA) -DMAILGATEWAY=edamail.fishkill.ibm.com -DDROPBOXLOG4JLOG=/tmp/dblog.$$ oem.edge.ed.odc.dropbox.server.DropboxServer  -userpw userpw -port 5060 -debug $(DROPBOXSERVERPARMS)
        
launchdb2:	
	export CLASSPATH=$$CLASSPATH:$(classpath):$(USE_COMMON_CLASSES):$(REALTOP)/properties/oem/edge/ed/odc:${ACTIVATION_JAR}:${MAILX_JAR}; \
        echo $$CLASSPATH; \
	$(JAVA) -DMAILGATEWAY=decathlon.fishkill.ibm.com -DDROPBOXLOG4JLOG=/tmp/dblog.$$$$ oem.edge.ed.odc.dropbox.server.DropboxServer -db2 COM.ibm.db2.jdbc.app.DB2Driver jdbc:db2:dropbox edesign /tmp  -userpw userpw -port 5060 -debug $(DROPBOXSERVERPARMS) -testlog4j
